/*Section*/
.section {
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.section-header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  background-color: purple;
  color: white;
  border-radius: 5px;
}
